.container {
    width: 100%;
    margin: 0 auto;
}

.container-inner {
    margin: 0 auto;
    width: 1170px;
}

#top {
    outline: 0;
    background-color: rgb(226, 7, 7);
    color: #fff;
    position: fixed;
    right: 0;
    top: 50%;
    padding: 20px;
    display: none;
    cursor: pointer;
}

#navbar {
    text-align: center;
}

#navbar a{
    color: red;
}
#navbar a:hover{
    color: blue;
}

#buttonDisplay {
    background-color: red;
    color: #ffffff;
}

.section-caption {
    color:  #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
}

.header {
    background-color: #1d2124;
    padding: 1px 0;
    font-family: 'Open Sans', sans-serif;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
}


.header-logo-img {
    padding: 21px;
    background-color: #1a1d20;
}


.header-navbar-link {
    color:  #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 37px;
}

.header-navbar-link:last-child {
    margin-right: 0;
}

.header-navbar-link:hover {
    color: green;
    transition-duration: 0.3s;
}

.fas {
    font-family: Font Awesome;
    color: #ffffff;
    font-size: 19px;
    text-decoration: none;
    padding: 26px;
    background-color: #171a1c;
}

.main {
    font-family: 'Open Sans', sans-serif;
}

.section-latestnews {
    background-image: url(../img/header-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    padding: 136px 0 130px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-latestnews-text {
    color:  #ffffff;
    font-size: 27px;
    margin-bottom: 44px;
}

.button {
    border: 0;
    outline: 0;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    width: 170px;
}

.button:hover {
    background-color: #cc00ff;
    transition-duration: 0.4s;
}

.button:active {
    position: relative;
    top: 3px;
    transition-duration: 0.4s;
}

.button-Subscribe {
    padding: 20px 0;
    background-color: #89ca62;
    margin-right: 20px;
}

.button-Articles {
    padding: 20px 0;
    background-color: #14b9d5;
}

.section-popularpost {
    background-color: #f2f2f2;
    padding: 62px 0 72px 0;
}

.section-popularpost-text {
    margin-bottom: 52px;
}

.section-popularpost-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    height: 900px;
}

.section-popularpost-img {
    background-color: #ffffff;
    width: 370px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.03);
    margin-bottom: 30px;
    margin-right: 30px;
}

.section-popularpost-img-description {
    color:  #35393d;
    font-size: 18px;
    font-weight: 700;
    padding: 22px 0;
    text-align: center;
}

.section-popularclients {
    padding: 210px 0;
    background-image: url(../img/parallax-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(4, minmax(135, 207));
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 75px;
    grid-row-gap: 150px;
    justify-content: center;
    justify-items: center;
}

.section-popularclients-text {
    color:  #ffffff;
    font-size: 32px;
    font-weight: 700;
    grid-column: 1 / 5;
    position: relative;
}

.section-popularclients-text::after {
    content: "";
    width: 60px;
    height: 5px;
    background-color: #169cb4;
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 200px;
}

.section-toprated {
    display: grid;
    grid-template-columns: repeat(7, 207px);
    grid-template-rows: auto auto;
    grid-row-gap: 52px;
    justify-content: center;
    justify-items: center;
    padding: 62px 0; 
    overflow: hidden;
}

.section-toprated-text {
    grid-column: 1 / 8;
}

.section-hotnews {
    padding: 1px 0 71px 0;
    text-align: center;
}

.section-hotnews-text {
    margin-bottom: 50px;
}

.section-hotnews-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 55px;
    grid-column-gap: 70px;
    justify-items: end;
    align-items: flex-start;
    grid-template-areas: 
        "element1 element1 element1 element2"
        "element3 element3 element4 element4"
        "element5 element5 element6 element6"
        "element7 element8 element8 element8";
}

.section-hotnews-img:first-child {
    grid-area: element1;
    display: flex;
}

.section-hotnews-img:nth-child(2) {
    grid-area: element2;
}

.section-hotnews-img:nth-child(3) {
    grid-area: element3;
}

.section-hotnews-img:nth-child(4) {
    grid-area: element4;
}

.section-hotnews-img:nth-child(5) {
    grid-area: element5;
}

.section-hotnews-img:nth-child(6) {
    grid-area: element6;
}

.section-hotnews-img:nth-child(7) {
    grid-area: element7;
}

.section-hotnews-img:last-child {
    grid-area: element8;
    display: flex;
}

.section-hotnews-img {
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.03);
    background-color: #f2f2f2;
}

.section-hotnews-img-description {
    color:  #35393d;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 22px 20px 0;
    text-align: right;
}

.section-hotnews-img:first-child .section-hotnews-img-description {
    padding: 42px 22px 20px 0;
}

.section-hotnews-img:last-child .section-hotnews-img-description {
    padding: 42px 22px 20px 30px;
}

.section-hotnews-description1 {
    margin-bottom: 22px;
}

.section-hotnews-img-description:nth-child(2) {
    padding: 13px 40px 20px 0;
}

.section-hotnews-img-description:nth-child(7) {
    padding: 13px 40px 20px 0;
}

.section-hotnews-description2 {
    color:  #5b6469;
    font-size: 13px;
    font-weight: 600;
    text-indent: 1.5em;
    line-height: 21px;
}

.footer {
    background-color: #1d2124;
    padding: 27px 0;
    font-family: 'Open Sans', sans-serif;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    color:  #ffffff;
    font-size: 13px;

}

.footer-logo {
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    padding-left: 38px;
    font-size: 22px;
    font-weight: 700;
    color:  #ffffff;
}